header{
	height: 150px;
	background-color: red;

}

.container{
	min-height: 500px;
	overflow: hidden;

}
aside{
	width: 30%;
	background-color: lightgreen;
	height: 500px;
	float: left;
}
section{
	width: 70%;
	height: 500px;
	background-color: green;
	float: left;
}
footer{
	height: 150px;
background-color: blue;
}
nav{
	background-color: transparent;
	overflow: auto;
}
.nav-item{
	float: left;
}